.cont-reduzido-padding{
	padding: 0px 5px !important;
	/*border: solid 1px black;*/
    width: auto !important;
    float: right !important;
    width: 125px !important;
}
.vida-bar-col
{
	padding: 0px 5px !important;
	display:inline-block;
}
.vida-bar{
	/*border:solid black 1px;*/
	margin: 10px 0px;
	width: 25px;
    height: 24px;
}